:root {
    --yellow: #f9ca24;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--yellow);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html ::-webkit-scrollbar {
    width: 1.4rem;
}

html ::-webkit-scrollbar-track {
    background: #222;
}

html ::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

body {
    background: #222 !important;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn-a {
    padding: 7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: .6rem;
    border-radius: 5rem;
}

.btn-a {
    padding: 0;
    border-radius: 5rem;
    color: #f9ca24 !important;
    width: 5rem;
    margin-top: 1rem;


}

.btn i {
    padding: 0;
    border-radius: 5rem;
    background: #eee;
    cursor: pointer;
    font-size: 6rem;

}


.btn-a a:hover {
    background: var(--yellow) !important;
}

.heading {
    text-align: center !important;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: white !important;

}

.heading span {
    color: var(--yellow);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-flow: column;
    text-align: center;
    padding-top: 5rem;
}

header .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}

header .user .name {
    font-size: 3.5rem;
    color: #fff;
}

header .user .post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 50%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li {
    display: block;
    
    padding: 1rem;
    margin: 1.5rem 0;
    background: #f9ca24;
    color: #eee;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul :hover {
    background: #1a1a1a;
}

header .navbar ul li a{
    text-decoration: none;
    color: #eee;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
  }

.menu {
    margin: 0 30px 0 0;
  }
  
  .menu a {
    clear: right;
    text-decoration: none;
    color: whitesmoke;
    margin: 0 10px;
    line-height: 70px;
    
  }
  
  span {
    color: var(--white);
  }
  
  label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: rgb(238, 70, 154);
  }
  
  #toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    label {
      display: block;
      cursor: pointer;
    }
    .menu {
      text-align: center;
      width: 100%;
      display: none;
    }
    .menu a {
      display: block;
      border-bottom: 1px solid black;
      margin: 0;
      background-color: black;
    }
    #toggle:checked + .menu {
      display: block;
    }
  
  }


.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    min-height: 100vh !important;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

.home h1 {
    font-size: 5rem;
    color: #fff;
}

.home h1 span {
    background: var(--yellow);
}

.home p {
    font-size: 2rem;
    color: #eee;
    padding: 2rem;
}

.home a{
    width: fit-content;
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: none;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: var(--yellow) !important;
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: #eee !important;
    padding: 0 .5rem;

}

.about .row .counter {
    flex: 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

}

.about .row .counter .box{
    width: 20rem;
    background: #222 !important;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}


.about .row .counter .box h3{
    color: #eee;
}

.about .row .counter .box span {
    font-size: 4rem;
    color: var(--yellow);
}

.about .progress-bar{
    background: none;
    text-align: center;
}


.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 27rem;
    margin: 5rem 1rem;
    padding-left: 10rem;
    border-left: .5rem solid #fff;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: var(--yellow);
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top:-1.5rem; left: -2.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--yellow);
}

.projects .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 2rem 0;
}

.projects .box-container .box {
    height: 30rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 6rem;
    overflow: hidden;
    cursor: pointer;
}

.projects .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: .7rem solid var(--yellow);
}

.projects .box-container .box:hover img {
    transform: scale(1.2);
}

#testimonials p{
    font-size: 2rem;
}

#testimonials i{
    color: #f9ca24;
}

#testimonials .controls-push-right a{
    align-items: center;
}

#testimonials h4{
    color: #f9ca24;
}

#testimonials img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}
.form-group{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group input {
    
    text-transform: lowercase !important;
}



.form-group label{
    color: #f9ca24;
    font-size: 2rem;
    text-align: center;
}

.form-group .box-container{
    margin: 0rem;
    padding:10rem;
    height: 50%;
    width:50% ;
    position: relative;
    color: #f9ca24;
    box-sizing: border-box !important;
    outline: none;
    background: #1a1a1a;
}

.content h3{
    color: #eee;
    text-decoration: underline;
    margin-top: 2rem;
}

.form-group .button{
    color:#eee;
    padding-top : 1rem;
    
}

.content-f{

height: 25rem;

}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}























